<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <svg class="icon icon--white collapsible__chevron">
      <use xlink:href="icons/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos laborum
    adipisci debitis delectus esse expedita perspiciatis dignissimos recusandae
    ad fugit nulla ab distinctio voluptas aut obcaecati ea laudantium, quas
    praesentium.
  </div>
</div>
<script src="code/Moshify/js/main.js"></script>
