<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, et
    exercitationem excepturi commodi perferendis possimus pariatur sequi
    architecto doloribus delectus dolores laboriosam, blanditiis odio magni?
    Obcaecati, dignissimos! Quidem tempore in nam ex ratione quo illo odio id
    quas ipsa consectetur explicabo sint, asperiores fugiat velit ipsum nemo.
    Laudantium corrupti, doloribus quos voluptatum dolor ipsum minus obcaecati
    totam doloremque aliquam. Modi possimus accusantium ea explicabo sapiente
    hic repellendus? Iste explicabo at quod. Voluptate quidem adipisci velit eos
    eius ipsa porro. Molestias vero dolore officia, nisi veritatis autem, ullam
    alias deserunt iure eum quibusdam dignissimos eveniet tempore, temporibus
    totam vel magni aut!
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="icons/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Eli Rousseau</h3>
        <p class="quote__organization">ABC Company</p>
      </div>
    </div>
  </footer>
</blockquote>
