* {
    box-sizing: border-box;
    font-family: Cambria;
    margin: 0;
}

/* banner styling */
.banner {
    background-color: lightpink;
    text-align: center;
    padding: 0 0 3% 0;
}

.banner h1 {
    font-size: 100px;
    padding: 3% 0 0 0;
}

.banner span {
    font-size: 40px;
}

/* navigation styling */
.content-table {
    color: black;
}

.content-table h2 {
    font-size: 60px;
    padding: 3%;
}

.content-table ul {
    list-style: none;
    padding-left: 0;
}

.content-table a {
    text-decoration: none;
}

.content-table li {
    font-size: 35px;
    padding: 3% 0 3% 3%;

}

.content-table a:visited {
    color: black;
}

.content-table li:hover {
    color: white;
    background-color: lightpink;
}

/* first section styling */
.first-section h2 {
    font-size: 60px;
    padding: 3%;
    background-color: lightpink;
}

.first-section p {
    font-size: 30px;
    text-align: justify;
    padding: 3%;
}

/* second section styling */
.second-section h2 {
    font-size: 60px;
    padding: 3%;
    background-color: lightpink;
}

.second-section p {
    font-size: 30px;
    text-align: justify;
    padding: 3%;
}

.second-section a:visited {
    color: dimgrey;
}

.outfits {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.outfit {
    display: flex;
    align-items: center;
    margin-bottom: 3%;
    height: 500px;
    width: 900px;
}

.outfit img {
    width: 500px;
    height: 500px;
    object-fit: contain;
}

.outfit figcaption { 
    font-size: 24px;
    text-align: justify;
    width: 400px;
    padding: 1%;
}


/* third section styling */
.third-section h2 {
    font-size: 60px;
    padding: 3%;
    background-color: lightpink;
}

.third-section p {
    font-size: 30px;
    text-align: justify;
    padding: 3%;
}